services:
  - type: web
    name: devtube
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: IMAGEKIT_PUBLIC_KEY
        sync: false
      - key: IMAGEKIT_PRIVATE_KEY
        sync: false
      - key: IMAGEKIT_URL_ENDPOINT
        sync: false
      - key: BUNNY_API_KEY
        sync: false
      - key: BUNNY_LIBRARY_ID
        sync: false
      - key: BUNNY_CDN_HOSTNAME
        sync: false
      - key: BUNNY_TOKEN_KEY
        sync: false
      - key: SESSION_SECRET
        sync: false
      - key: HOST_URL
        sync: false
